.navbar {
	border-radius: 0;
}

.img-thumbnail {
	max-width: 30%;
	max-height: 30%;
}

.img-detail {
	display: block;
	width:auto;
	max-height: 100%
}

.page-header {
	text-align: left;
	padding-left: 50px
}

.category-form {
	text-align: left;
	padding-left: 50px
}

.edit-item {
	display:inline-block;
}

.delete-item {
	display:inline-block;
}

.item-buttons {
	display:block;
}

.containers {
	padding-left: 50px
}